.gradle/
.idea/

*.iml
*.iws
*.ipr
*.class
build.xml

figs/
raw_dat/
venv/
getRand\(\)/

*.gif

*.patch

demo\.txt

\.vscode/

*.png

log\.txt

highway_101_fixed\.csv

highway/cellTowersWestCoast_fixed\.csv

highway/highway_101\.csv

highway_101_fixed_old\.csv

highway/visualize/cellTowersWestCoast_fixed\.csv
